################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/OldPhonePad/bin/Debug/net9.0
/OldPhonePad/obj
/UnitTest/bin/Debug/net9.0
/UnitTest/obj
